* {   
    box-sizing: border-box;
    color: white;
}

body {
    font-size: 20px;
    text-align: center;
    line-height: 2;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: dark gray;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;
  }

  ul {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(61, 61, 61);
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
  }

  li {
    color: rgb(61, 61, 61);
    display: inline;
  }

  a:not(.liverepo) {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(61, 61, 61);
    padding: 10px;
    text-decoration: none;
  }

  a:hover {
    color: rgb(68, 134, 158);
  }

  #github {
    width: 100px;
    height: 65px;
  }

  #linkedin {
    width: 100px;
    height: 65px;
  }

  #headshot {
    height: 250px;
    width: 250px;
    background-color: white;
  }

  header {
      padding: 10px;
      background-color: rgb(22, 65, 80);
  }

  .first {
    padding-bottom: 12px;
  }

  .second {
    padding-top: 12px;
  }

  section {
      min-height: 200px;
      padding: 6% 0;
  }

  section.bio {
    background-color: rgb(45, 92, 109);
  }

  section.projects {
    background-color: rgb(76, 114, 128);
  }

  h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 45px;
    margin-bottom: 0;
    padding-top: 20px;
  }

  h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }

  h3 {
    font-family: 'Titillium Web', sans-serif;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin: 0px 25px 0px;
  }


  .proj {
    height: 200px;
    width: 280px;
  }

  .one {
    display: block;
  }

  .title {
    padding-bottom: 25px;
  }

  .desc {
    padding-bottom: 25px;
  }

  .liverepo {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    padding: 10px;
    text-decoration: none;
  }

  section.contactinfo {
    background-color: rgb(90, 126, 138);
    padding: 0;
  }

  a.contactinfo {
    color: white;
  }


  /*for tablet screens*/
  @media only screen and (min-width: 768px) {
    .proj {
      height: 400px;
      width: 560px;
    }

    nav {
      font-size: 20px;
    }

    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }

    nav {
      display: none;
    }
  }

  /*for desktop screens*/
  @media only screen and (min-width: 1170px) {
    header {
      width: 50%;
      float: left;
      height: 541.47px;
    }

    .bio {
      width: 50%;
      float: right;
      height: 541.47px;
    }

    .center {
      position: relative;
      top: 50px;
    }

    img.proj {
      float: left;
      position: relative;
      top: 20px;
      left: 25px;
      height: 400px;
      width: 500px;
    }

    .one {
      font-size: 22px;
      text-align: left;
      margin-left: 589px;
      margin-right: 25px;
      position: relative;
      top: 30px;
    }

    #proj1 {
      text-align: left;
    }

    .projects {
      height: 1100px;
    }

    section.contactinfo {
      height: 250px;
      text-align: center;
    }

    a {
      color: white;
      font-size: 25px;
    }

    .liverepo {
      position: relative;
      top: 60px;
      left: 200px;
    }

  }

